<div class="loginPage">
  <div class="container">
    <div class="loginPage_contents">
      <h1 class="h4 loginPage_contents_title">日本最大級のマッチングアプリ</h1>
      <%= link_to new_user_session_path, class: "btn loginPage_contents_btn" do %>
        <i class="fa fa-lock fa-lg"> ログイン</i>
      <% end %>
    </div>
    <div class="footer">

    </div>
  </div>
</div>
<div class="page2">
  <div class="contents">
    <button type="button" id="modal-open">OPEN</button>
      <div id="modal-bg"></div>
      <div id="modal-window">
      <!-- ここにコンテンツ -->
      </div>
  </div>
  <script>
  $(function(){

  var modalBg = $('#modal-bg');
  var modalOpen = $('#modal-open');
  var modalWindow = $('#modal-window');

  modalOpen.on('click', function(){
    modalBg.fadeIn();
    modalWindow.fadeIn();
    $('body').css('overflow', 'hidden');
  });

  modalBg.on('click', function(){
    modalBg.fadeOut();
    modalWindow.fadeOut();
    $('body').css('overflow', 'auto');
  });

});
  </script>
</div>
