<div class="loginPage">
  <div class="container">
    <div class="loginPage_contents">
      <h1 class="h4 loginPage_contents_title">日本最大級のマッチングアプリ</h1>
      <%= link_to new_user_session_path, class: "btn loginPage_contents_btn" do %>
        <i class="fa fa-lock fa-lg"> ログイン</i>
      <% end %>
    </div>
    <div class="footer">

    </div>
  </div>
</div>
<!-- <div class="page2">
  <div class="contents">
    <section class="content">
      <div class="content-image">

      </div>
      <p>テキストテキストテキスト</p>
    </section>

    <section class="content">
      <div class="content-image">

      </div>
      <p>テキストテキストテキスト</p>
    </section>

    <section class="content">
      <div class="content-image">

      </div>
      <p>テキストテキストテキスト</p>
    </section>

    <section class="content">
      <div class="content-image">

      </div>
      <p>テキストテキストテキスト</p>
    </section>

  </div>
</div> -->
